/*html, body {padding: 0; margin: 0;
}*/

input[type=text], input[type=date], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/*input[type=radio] {
	display: block;
}*/

form .likert {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0 0 35px;
	display: block;
	border-bottom: 2px solid #c1c1c1;
}

form .likert:last-of-type { border-bottom: 0;}

form .likert:before {
	content: '';
	position: relative;
	top: 11px;
	left: 9.5%;
	display: block;
	background-color: #c1c1c1;
	height: 4px;
	width: 78%;
}

form .likert li {
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
}

form .likert li input[type=radio] {
	display: block;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -6px;
}

form .likert li label {width: 100%;}

form .likert li label sub {
	color: #6a6a6a;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	font: 12px 'Roboto', sans-serif;
}

sub {
	text-align: left;

}

.submission {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.form-submission {
	/*text-transform: uppercase;*/
	font-weight: 300;
	font-size: 2em;

}

option[disabled] {
	color: lightgray;
}

.button {
	display: block;
	background-color: #04AA6D;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.button a {
	display:  flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: white;
}

.instruction {
	font-weight: normal;
	font-style: italic;
}


.button:hover {
	background-color: #45a049;
}

.section {
	margin-bottom: 30px;
}

@media screen and (min-width: 1050px) {
	form .likert:before {
		width: 77%;
	}
}

@media screen and (max-width: 690px) {
	.form-submission {
		font-size: 2em;
	}
}

@media screen and (max-width: 460px) {
	form .likert:before {
		width: 79%;
	}
}

@media screen and (max-width: 375px) {
	form .likert:before {
		width: 79%;
	}
}

